<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>用户登录</title>-->
<!--	<meta charset="utf-8">-->
	<!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--	<script src="/jquery-2.2.0.min.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--	<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">-->
<!--		<div style="margin-left: 45px;">-->

<!--			<h1>主页</h1>-->

<!--			<form action="#"  role="form" style="margin-top: 90px;">-->
<!--				<h2>登陆成功！</h2> -->
<!--				<div style="margin-top: 145px;">-->
<!--					<input  type="button" value="退 出" />-->
<!--				</div>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->
<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
    <div style="margin-left: 45px;">
 
# 主页
 
        <form action="#"  role="form" style="margin-top: 90px;">
 
        # 恭喜，登陆成功！ 
 
            <div style="margin-top: 145px;">
                <input  type="button" value="退 出" />
            </div>
        </form>
    </div>
</div>