<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--	<meta charset="utf-8" />-->
<!--    <title>欢迎</title>-->
<!--</head>-->

<!--<body>-->
<!--    <div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">-->
<!--        <div style="margin-left: 35px;">-->
<!--            <h1> 首页 </h1>-->
<!--            <form action="#" role="form" style="margin-top: 90px;margin-left: 60px;">-->
<!--                <h3> 欢迎进入首页！</h3>-->
<!--                <div style="margin-top: 145px;">-->
<!--                    <input type="button" value="登 陆" />-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
    <div style="margin-left: 35px;">
 
# 首页
 
        <form action="#"  role="form" style="margin-top: 90px;margin-left: 60px;">
 
# 欢迎进入首页！
 
            <div style="margin-top: 145px;">
                <input type="button" value="登 陆" />
            </div>
        </form>
    </div>
</div>
